:root {

  // colors
  --color-primary: #6E747C;
  --color-error: #e22a32;
  --color-title: #83A6E4;
  --color-text: #ffffff;

  // fonts
  --font-primary: 'Open Sans', sans-serif;
  --font-secondary: Arial, sans-serif;
  --font-title: 'Proxima Nova', sans-serif;

  // forms
  --form-control-border: #6E747C;
  --form-control-text: #6E747C;
  --form-control-bg: #ffffff;
  --form-control-input-height: 40px;
  --form-control-btn-height: 40px;
  --form-control-btn-color: #ffffff;
  --form-control-link-color: #ffffff;

  //slider
  --slider-button-border-color: #8E9395;
  --slider-button-border-color-hover: #ffffff;
}
